/* sarabun-regular - latin_thai */
@font-face {
    font-family: 'Sarabun';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/sarabun-v7-latin_thai-regular.eot');

    /* IE9 Compat Modes */
    src: local("Sarabun Regular"), local("Sarabun-Regular"), url('../fonts/sarabun-v7-latin_thai-regular.eot?#iefix') format("embedded-opentype"), url('../fonts/sarabun-v7-latin_thai-regular.woff2') format("woff2"), url('../fonts/sarabun-v7-latin_thai-regular.woff') format("woff"), url('../fonts/sarabun-v7-latin_thai-regular.ttf') format("truetype"), url('../fonts/sarabun-v7-latin_thai-regular.svg#Sarabun') format("svg");

    /* Legacy iOS */
}

/* sarabun-italic - latin_thai */
@font-face {
    font-family: 'Sarabun';
    font-style: italic;
    font-weight: 400;
    src: url('../fonts/sarabun-v7-latin_thai-italic.eot');

    /* IE9 Compat Modes */
    src: local("Sarabun Italic"), local("Sarabun-Italic"), url('../fonts/sarabun-v7-latin_thai-italic.eot?#iefix') format("embedded-opentype"), url('../fonts/sarabun-v7-latin_thai-italic.woff2') format("woff2"), url('../fonts/sarabun-v7-latin_thai-italic.woff') format("woff"), url('../fonts/sarabun-v7-latin_thai-italic.ttf') format("truetype"), url('../fonts/sarabun-v7-latin_thai-italic.svg#Sarabun') format("svg");

    /* Legacy iOS */
}

/* sarabun-600 - latin_thai */
@font-face {
    font-family: 'Sarabun';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/sarabun-v7-latin_thai-600.eot');

    /* IE9 Compat Modes */
    src: local("Sarabun SemiBold"), local("Sarabun-SemiBold"), url('../fonts/sarabun-v7-latin_thai-600.eot?#iefix') format("embedded-opentype"), url('../fonts/sarabun-v7-latin_thai-600.woff2') format("woff2"), url('../fonts/sarabun-v7-latin_thai-600.woff') format("woff"), url('../fonts/sarabun-v7-latin_thai-600.ttf') format("truetype"), url('../fonts/sarabun-v7-latin_thai-600.svg#Sarabun') format("svg");

    /* Legacy iOS */
}
